.bg-text-suigintou-25,
.bg-text-suigintou-50 {
  border-radius: 3px;
  padding: 0 1.5px;
}

.bg-text-suigintou-25 {
  background-color: var(--color-suigintou-alpha-25);
}

.bg-text-suigintou-50 {
  background-color: var(--color-suigintou-alpha-50);
}
